
<h2>
  
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="billing">Billing</a>
      <li class="nav-item">
        <a class="nav-link" href="invoice">InVoice History</a>
      </li>
    </ul>
  </div>
  
  <div class="form-filed">
    
    <div>
    </div>
      <select>
        <option  value="Add New Item">Add New Item</option>
        <option  value="Consutation">Consutation</option>
        <option  value="Cipladine 10mg">Cipladine 10mg</option>
        <option  value="Tylenol 500mg">Tylenol 500mg</option>
        <option  value="Blood Test">Blood Test</option>
        <option  value="Procedure">Procedure</option>
      </select>
      
    </div>
  
  <h3>
    <div>
  <div>
    <table align="center">
      <tr class="alert alert-white" role="alert" >
        <th scope="col">Item</th>
        <th scope="col" colspan="3">Quantity</th>
        <th scope="col">Cost</th>
        <th scope="col" colspan="1">Discount</th>
        <th scope="col">Total</th>
      </tr> 
      <tr class="alert alert-white" role="alert"> 
        <td colspan="3"><input type="checkbox">Consutation <br> (New-Visit) </td>
        <td >1</td>
        <td >200.00</td>
        <td colspan="1" align="center">5</td>
        <td >190.00</td>
      </tr>
      <tr class="alert alert-success" role="alert">
        <td colspan="3"><input type="checkbox">Cipladine 10mg <br> (Povidone lodine 5%) </td>
        <td >1</td>
        <td >50.00</td>
        <td colspan="1" align="center">5</td>
        <td >47.50</td>
      </tr>
      <tr class="alert alert-white" role="alert">
        <td colspan="3"><input type="checkbox">Tylenol 500mg <br> (Acetamenophen) </td>
        <td >10</td>
        <td >20.00</td>
        <td colspan="1" align="center">5</td>
        <td >19.00</td>
      </tr>
      <tr class="alert alert-success" role="alert">
        <td colspan="3"><input type="checkbox">Blood Test <br> (Random Sugar) </td>
        <td >1</td>
        <td >200.00</td>
        <td colspan="1" align="center">5</td>
        <td >190.00</td>
      </tr>
      <tr class="alert alert-white" role="alert">
        <td colspan="3"><input type="checkbox">Blood Test <br> (Complete Blood Counts) </td>
        <td >1</td>
        <td >200.00</td>
        <td colspan="1" align="center">5</td>
        <td >190.00</td>
      </tr>
      <tr scope="col" class="alert alert-success" role="alert">
        <td colspan="3"><input type="checkbox">Procedure <br> (Injuction) </td>
        <td >1</td>
        <td >75.00</td>
        <td colspan="1" align="center">5</td>
        <td >71.25</td>
      </tr>
    </table>
    <hr>
    <p>SubTotal ----- 817.00 </p>
    <p>Tax 1 ----- 73.53</p>
    <p>Tax 2 ----- 73.53</p>
    <hr>
    <h4>Total ----- 964.06</h4>
  
    <h5>
      <button class="material-icons"><a href="gmail.com"></a>
        email
      </button>
      <button class="material-icons" onclick="window.print();">
        print
      </button>
    </h5>
  </div>
  </div>
  </h3>
  </h2>